body {
	font-family: 'Open Sans', 'Raleway', sans-serif;
}
html, body {
	margin: 0;
	padding: 0;
}

.center {
	width: 95%;
	margin: auto;
}

.right {
	float: right;
}

.left {
	float: left;
}

header nav ul li a {

	font-family: 'Raleway', sans-serif;
	font-size: 9pt;
	font-weight: 700;
	text-decoration: none;
	color: #aaaeb1;
	letter-spacing: 3px;

}

header nav ul li a:hover {
	color: #183348;
}

header nav ul li a:active {
	color: #183348;
}


header nav ul li {

	display: inline;
	margin: 0 0 0 30px;
}


#top {
	background-color: white;
	height: 60px;
}

.site-navigation {
	display: inline;
	margin-left: auto;
}

#site-header-inner {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

#site-content .banner {
	background-image: url("../assets/indexbanner-bg3.jpg");
	background-position: top center;
	background-size: cover;
	height: 100vh;
}

.banner-inner {
	position: relative;
	color: #fff;
	top: 50%;
	transform: translateY(-50%);
	
}

.banner-inner h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	font-weight: 700;

}

.banner-inner p {
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	font-weight: 300;
}

.search-form {
	transform: translateY(-50%);
	display: flex;
	margin: auto;
	box-shadow: 0px 3px 10px rgba( 0, 0, 0, 0.10);
}

.search-form input[type="search"] {
	height: 100px;
	width: 85%;
	border: none;
	background-color: white;
	padding-left: 3%;
	color: #acb0b1;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 12pt;
}

.search-form input[type="submit"] {
	height: 100px;
	width: 15%;
	border: none;
	background-color: #00adf2;
	color: white;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 8pt;
	letter-spacing: 3px;
}



.services {
	width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.service {
	text-align: center;
	width: 20%;
    margin: auto;
    padding-top: 5%;
}

.widdot {
	padding-top: 8%;
}

.service strong {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 10pt;
	color: #212a31;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.service p {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 10pt;
	color: #71787e;
}

.title-features {
	text-align: center;
	padding-top: 7%;
}

.title-features h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	color: #212a31;

}

.title-features p {
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	font-weight: 300;
	color: #71787e;
	text-align: center;
}

.features {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
    z-index: 1;
    position: relative;
    padding-top: 5%;
    overflow: hidden;
}

.features-left {
	padding: 5% 2% 0% 0%;
	width: 30%;
	box-sizing: border-box;
}


.features-left .feature {
	display: flex;
	flex-direction: row-reverse;
}

.features-left .feature-txt {
	text-align: right;
	padding: 5% 5% 0% 0%;
}

.features-left .feature-txt strong {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 10pt;
	color: #212a31;
	letter-spacing: 3px;
	text-transform: uppercase;
}


.features-left .feature-txt p {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 10pt;
	color: #71787e;
}
.features-center {
	text-align: center;
} 

.features-right {
	padding: 5% 0% 0% 2%;
	width: 30%;
	box-sizing: border-box;
}

.features-right .feature {
	display: flex;
	flex-direction: row;
}

.features-right .feature-txt {
	text-align: left;
	padding: 5% 0% 0% 5%;
}

.features-right .feature-txt strong {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 10pt;
	color: #212a31;
	letter-spacing: 3px;
	text-transform: uppercase;
}


.features-right .feature-txt p {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 10pt;
	color: #71787e;
}

.title-pricing {
	text-align: center;
	padding-top: 10%;
}

.title-pricing h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	font-weight: 700;
	color: #212a31;

}

.title-pricing p {
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	font-weight: 300;
	color: #71787e;
}

#plans {
	background-image: url(../assets/pricing-bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;	
    transform: translateY(-8%);
}

.plans {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 10%;
}

.plans .plan {
	overflow: hidden;
	background-color: white;
	margin: 1%;
	width: 21%;
	padding: 8% 2% 2% 2%;
	text-align: center;
	box-shadow: 0px 3px 10px rgba( 0, 0, 0, 0.15);
	box-sizing: border-box;

}

.plan-name {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 10pt;
	color: #212a31;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.price {
	font-family: 'Open Sans', sans-serif;
	font-size: 44pt;
	font-weight: 700;
	color: #212a31;
	margin-top: 7%;
}

.price sup {
	font-family: 'Open Sans', sans-serif;
	font-size: 16pt;
	font-weight: 700;
	color: #212a31;
}

.month {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 10pt;
	color: #71787e;
}

.plan hr {
	border: 0;
	border-top: 1px solid #e9e9e9; 
	margin-top: 30%;
}

.plan table {
	width: 70%;
	margin: auto;
	line-height: 24pt;
}

.plan table th {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 10pt;
	color: #71787e;
	text-align: left;

}

.td-blue {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12pt;
	color: #49e8fd;
	text-align: right;

}

.td-yellow {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12pt;
	color: #ffd400;
	text-align: right;

}

.td-orange {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12pt;
	color: #f47e40;
	text-align: right;

}

.td-red {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12pt;
	color: #e9390f;
	text-align: right;

}

.plan button {
	width: 100%;
	height: 42px;
	border: none;
	background-color: #00adf2;
	color: white;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 8pt;
	letter-spacing: 3px;
	border-radius: 5px;
	margin-top: 8%;
}

#hosting {
	height: 225px;
    background-color: #142e3f ;
    margin: auto;
}


.text-hosting {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.text-hosting p {
    font-family: 'Open Sans', sans-serif;
    font-size: 24pt;
    font-weight: 100;
    color: white;
    text-align: center;
}

.text-hosting strong {
    color: #04aaf8 ;
    font-family: 'Open Sans', sans-serif;
    font-size: 24pt;
}

#footer {
	background-color: #091722;
	height: 110px;
}

.footer-inner {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.footer-inner nav {
	margin-left: auto;
}

#footer p {
	color: #9ea3a9;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	font-weight: 300;
}

#footer nav ul li a {

	font-family: 'Raleway', sans-serif;
	font-size: 9pt;
	font-weight: 300;
	text-decoration: none;
	color: #acb0b9;

}


#footer nav ul li a:hover {
	color: #00adf2;
}

#footer nav ul li a:active {
	color: #00adf2;
}


#footer nav ul li {
	display: inline;
	margin: 0 0 0 20px;
}


/* CONTACT */


#site-content .banner-contact {
	background-image: url("../assets/contactbanner.jpg");
	background-position: top center;
	background-size: cover;
	height: 80vh;
}

.banner-c-inner {
	position: relative;
	color: #fff;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;	
}

.banner-c-inner h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	font-weight: 700;
}

.banner-c-inner p {
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	font-weight: 100;
}

.form-inputs {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	margin: auto;
	padding-top: 5%;
}

.form-left {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: left;
	align-content: space-between;
	width: 40%;
	padding-right: 1%;
	height: 180px;
}

.form-left input {
	height: 25%;
	margin-bottom: auto;
	background-color: white;
	border-width: thin;
	border-style: solid;
	border-color: #e2e3e5;
	border-radius: 3px;
	padding-left: 3%;
	color: #acb0b1;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 10pt;
}


.form-right {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: right;
	width: 40%;
	padding-left: 1%;
	height: 169px;
}

.form-right textarea {
	width: 100%;
	background-color: white;
	border-width: thin;
	border-style: solid;
	border-color: #e2e3e5;
	border-radius: 3px;
	padding-left: 3%;
	padding-top: 3%;
	color: #acb0b1;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 10pt;

}
.form-btn {
	text-align: center;
}

.form-btn input[type="submit"] {
 	text-align: center;
	width: 170px;
	height: 55px;
	border: none;
	background-color: #00adf2;
	color: white;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 8pt;
	letter-spacing: 3px;
	border-radius: 5px;
	margin-top: 5%;
}

/* ANIMACIÓN Y TRANSICIÓN */

.icon-service:hover{ 
    -webkit-transform: scale(1.35);
    transform: scale(1.35)
}
.icon-service {
 -webkit-transition: 1.3s ease-in-out;
    -moz-transition: 1.3s ease-in-out;
    -o-transition: 1.3s ease-in-out;
    transition: 1.3s ease-in-out;
}


/* MEDIA QUERY*/


@media (max-width: 977px) {
	.widdot {
    	display: none;
	}

    .service {
    	min-width: 40%;    
	}

	.title-features div img{
		display: none;
	}

	.features-left {
		padding: 5% 0% 0% 0%;
		width: 30%;
	}

	.features-right {
		padding: 5% 0% 0% 0%;
		width: 30%;
	}

	#plans {
    	background-size: 100%; 
    	transform: translateY(0%);
	}

	.plan {
    	min-width: 45%;
	}

	.plan hr {
		margin-top: 5%;
	}

	.title-pricing div img{
		display: none;
	}

	#footer {
		height: 150px;
	}

	.footer-inner {
		flex-direction: column;
		justify-content: center;
		align-content: center;		
	}

	.footer-inner nav {
		margin: auto;
	}

	.footer-inner p {
		margin: auto;
		padding-top: 5%;
	}

	#footer nav ul {
		padding: 0;
	}
	
	.footer-inner nav ul li img {
		display: none;
	}

}

@media (max-width: 768px) {

	#top {
		height: 130px;	
	}

	#site-header-inner {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.site-navigation {
		display: unset;
		margin: auto;
	}

	.site-navigation ul {
		padding: 0;
	}

	.site-navigation ul li {
		display: inherit;
		text-align: center;
		margin: auto;
	}

	.banner {
		display: none;
	}

	.search-form {
		transform: translateY(0);
		margin-top: 10%;
	}

    .service {
    	min-width: 40%;    
	}

	.features-left {
		width: 80%;
	}

	.features-left .feature {		
		flex-direction: row;
		padding-top: 5%;
	}

	.features-left .feature-txt {
		text-align: left;
		padding: 0% 0% 0% 5%;
	}

	.features-right {
		width: 80%;
	}

	.features-right .feature-txt {
		text-align: left;
		padding: 0% 0% 0% 5%;
	}

	#plans {
    	background-size: 100%; 
    	transform: translateY(0%);
	}

	.plan {
    	min-width: 45%;
	}

	.plan hr {
		margin-top: 5%;
	}

	.title-pricing {
		padding-top: 5%;
	}

	.title-pricing div img{
		display: none;
	}

	#footer {
		height: 150px;
	}

	.footer-inner {
		flex-direction: column;
		justify-content: center;
		align-content: center;		
	}

	.footer-inner nav {
		margin: auto;
	}

	.footer-inner p {
		margin: auto;
		padding-top: 5%;
	}

	#footer nav ul {
		padding: 0;
	}
	
	.footer-inner nav ul li img {
		display: none;
	}

}


@media (max-width: 580px) {

	#top {
		height: 130px;	
	}

	#site-header-inner {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.site-navigation {
		display: unset;
		margin: auto;
	}

	.site-navigation ul {
		padding: 0;
	}

	.site-navigation ul li {
		display: inherit;
		text-align: center;
		margin: auto;
	}

	.banner {
		display: none;
	}

	.search-form {
		transform: translateY(0);
		margin-top: 10%;
	}

    .service {
    	min-width: 80%; 
    	padding-top: 10%;   
	}

	.features-left {
		width: 80%;
	}

	.features-left .feature {		
		flex-direction: row;
		padding-top: 5%;
	}

	.features-left .feature-txt {
		text-align: left;
		padding: 0% 0% 0% 5%;
	}

	.features-right {
		width: 80%;
	}

	.features-right .feature-txt {
		text-align: left;
		padding: 0% 0% 0% 5%;
	}

	#plans {
    	background-size: 100%; 
    	transform: translateY(0%);
	}

	.plan {
    	min-width: 45%;
	}

	.plan hr {
		margin-top: 5%;
	}

	.title-pricing div img{
		display: none;
	}

	#footer {
		height: 150px;
	}

	.footer-inner {
		flex-direction: column;
		justify-content: center;
		align-content: center;		
	}

	.footer-inner nav {
		margin: auto;
	}

	.footer-inner p {
		margin: auto;
		padding-top: 5%;
	}

	#footer nav ul {
		padding: 0;
	}
	
	.footer-inner nav ul li img {
		display: none;
	}

}
  
