a {
  color: #fed136;
}
a:hover {
  outline: none;
  text-decoration: none;
}

a {
  color: #fed136;
}

a.active,
a:active,
a:focus,
a:hover {
  color: #fec503;
}

#top-header {
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  color: white;
}
#top-header nav {
  padding-top: 2%;
}
#top-header nav .navbar-header a {
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  font-size: 28px;
  line-height: 20px;
}
#top-header nav .navbar-header a:active, #top-header nav .navbar-header a:focus, #top-header nav .navbar-header a:hover {
  color: #fec503;
}
#top-header nav .top-nav ul li {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}
#top-header nav .top-nav ul li a {
  color: white;
}
#top-header nav .top-nav ul li a:focus, #top-header nav .top-nav ul li a:hover {
  color: #fed136;
  outline: none;
  text-decoration: none;
  background: none;
}
#top-header .banner-text {
  padding-top: 150px;
  padding-bottom: 50px;
}
#top-header .banner-text .intro-banner {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 40px;
  margin-bottom: 25px;
}
#top-header .banner-text .intro2-banner {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 35px;
}
#top-header .btn-xl {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
  background-color: #fed136;
}
#top-header .btn-xl:active, #top-header .btn-xl:focus, #top-header .btn-xl:hover {
  background-color: #fec503;
}

#services #title-services {
  margin: 10% 0 5% 0;
}
#services #title-services h2 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #222;
  font-weight: 700;
  font-size: 40px;
}
#services #title-services h3 {
  color: #777;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
#services .circle-yel {
  color: #fed136;
}
#services .heading-service {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  font-weight: 700;
  font-size: 18px;
  margin-top: 15px;
}
#services .text-service {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  font-size: 14px;
  line-height: 24px;
  margin: 15px 0 15px 0;
}

#portfolio {
  background-color: #eee;
  margin-top: 10%;
  padding-bottom: 10%;
}
#portfolio #title-portfolio {
  margin: 10% 0 5% 0;
}
#portfolio #title-portfolio h2 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #222;
  font-weight: 700;
  font-size: 40px;
}
#portfolio #title-portfolio h3 {
  color: #777;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
#portfolio .portfolio-item {
  border: 0px;
  padding: 0;
  border-radius: 0;
}
#portfolio .portfolio-item h4 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  font-weight: 700;
  font-size: 18px;
}
#portfolio .portfolio-item p {
  color: #777;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}

#about #title-about {
  margin: 10% 0 5% 0;
}
#about #title-about h2 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #222;
  font-weight: 700;
  font-size: 40px;
}
#about #title-about h3 {
  color: #777;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}

.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  margin-left: 50%;
}
.timeline li {
  margin-bottom: 100px;
  min-height: 170px;
}
.timeline li:after
.timeline li:before {
  content: "";
  display: table;
}
.timeline li:after {
  clear: both;
}
.timeline li .timeline-panel {
  width: 50%;
  float: right;
  position: relative;
  text-align: right;
  padding: 0 7% 0 10%;
  margin-right: 55%;
}
.timeline li .timeline-image {
  left: 0;
  margin-left: 42.5%;
  width: 170px;
  height: 170px;
  position: absolute;
  z-index: 100;
  background-color: #fed136;
  color: white;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
}
.timeline li .timeline-image h4 {
  margin-top: 30%;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.timeline li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 7% 0 12%;
  margin-right: 0;
}
.timeline li .timeline-heading h4 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  font-weight: 700;
  font-size: 18px;
}
.timeline li .timeline-body p {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  font-size: 14px;
  line-height: 24px;
}

#team {
  background-color: #eee;
  margin-top: 5%;
  padding-bottom: 10%;
}
#team #title-team {
  margin: 10% 0 5% 0;
}
#team #title-team h2 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #222;
  font-weight: 700;
  font-size: 40px;
}
#team #title-team h3 {
  color: #777;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
#team .img-team img {
  margin: auto;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 7px solid #fff;
  border-radius: 100%;
}
#team .team-heading {
  margin-top: 20px;
}
#team .team-heading h4 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
}
#team .team-heading p {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  font-size: 14px;
  line-height: 12px;
}
#team .team-social-btns {
  margin-bottom: 0;
  margin-top: 20px;
}
#team .team-social-btns a {
  display: block;
  background-color: #222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  outline: none;
}
#team .team-social-btns a:active, #team .team-social-btns a:focus, #team .team-social-btns a:hover {
  background-color: #fed136;
}
#team #text-team {
  margin-top: 40px;
}
#team #text-team h3 {
  color: #777;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 30px;
}
